<!doctype html>

<html lang="pt-BR">

<head>

    <meta charset="utf-8">

    <title>
        Novo usuário cadastrado
    </title>

</head>

<body>

    <h2>
        Novo usuário cadastrado
    </h2>

    <p>
        <strong>Prontuário:</strong>
        {{ student_id }}
    </p>

    <p>
        <strong>Nome do aluno:</strong>
        {{ student_name }}
    </p>

    <p>
        <strong>Usuário cadastrado:</strong>
        {{ user.username }}
    </p>

    <p>
        <strong>Função:</strong>
        {{ user.role.name }}
    </p>

</body>

</html>
